
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.custom-side-nav{
	margin-top: 2%;
}
.custom-border{
	border: 1px solid #a6a6a6;
	border-radius: 1%;
}
.label-top{
	margin-top: 2%;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.no-underline{
	text-decoration: none !important;
}
.my-btn{
	background-color: red;
}
.border{
	border: 1px solid #898989;
	border-radius: 5px;
}

/* Margins */
.margin-2{
	margin: 2% !important;
}
.padding-2{
	padding: 2% !important;
}
.padding-3{
	padding: 3% !important;
}
.article-card{
	margin: .5%;
}

/* Font sizes */
.font-size-80{
	font-size: 80%;
}
.font-size-70{
	font-size: 70%;
}

/* Image sizes */
.img-600{
	height: 500px;
	width: 100%;
}

/* Text Colors */
.gray-text{
	color: #898989;
}

/* Text alignement */
.center-text{
	text-align: center !important;
}
.center-horizontal{
	align-self: center;
}
.nav-item{
	margin-left: 0% !important;
	transition: .5s;
}
.nav-item:hover{
	margin-left: 5% !important;
	transition: .5s;
	/* background-color: #dc3545 !important; */

}
